<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:fragment="head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recipe Book Web App</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Default Template CSS -->
    <link href="/css/blog-post.css" rel="stylesheet">
    <link href="/css/2-col-portfolio.css" rel="stylesheet">
    <link href="/css/full.css" rel="stylesheet">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Poiret+One|Shrikhand" rel="stylesheet">

    <!--My CSS-->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="navigation(menu)">
    <div class="container">
        <a class="navbar-brand" href="#">My Recipe Book</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:classappend="${menu}=='home'?'active':''">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" th:classappend="${menu}=='recipes'?'active':''">
                    <a class="nav-link" href="/recipes">Recipe List</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Recipes</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/recipes/wings">Wings</a>
                        <a class="dropdown-item" href="/recipes/injera">Injera</a>
                        <a class="dropdown-item" href="/recipes/pumpkin-rice-noodles">Pumpkin Rice Noodles</a>
                        <a class="dropdown-item" href="/egg-sauce">Egg Sauce</a>
                        <a class="dropdown-item" href="/makroudhs">Makroudhs</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<header class="d-flex align-header">
    <div class="container white">
        <h1 class="display-1 hd-text">My Recipe Book</h1>
        <h3 class="lead tx-text">This is a recipe book web page.</h3>
        <button type="submit" class="btn btn-primary yellow">Get Started</button>
    </div>
</header>
<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
